language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 7.0
  - 7.1
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: 7.1
    - php: nightly
  fast_finish: true

install:
  - composer require --no-update roave/security-advisories:dev-master
  - composer install -n --no-progress

script:
  - SYMFONY_DEPRECATIONS_HELPER=weak vendor/bin/phpunit -v

after_success:
  - 'if [[ $TRAVIS_PULL_REQUEST == "false" && $TRAVIS_BRANCH == "master" && $TRAVIS_PHP_VERSION == "5.6" ]]; then sh generate-api.sh; fi;'

notifications:
  email: false
